<a href="https://colab.research.google.com/github/uwn5qm/DS-1002/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

**COLLABORATOR: COLEMAN WRAY**

In [ ]:
# Load pandas and the data
import pandas as pd
dats = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv')

In [ ]:
# show how many rows and columns are in this dataset
print(dats.shape)

(25760, 10)

In [ ]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

dats["duration"] = dats["duration"].str.strip(" minutes")
dats["duration"] = dats["duration"].astype('int')

In [ ]:
# Now display the datatypes in the updated dataframe

dats.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [ ]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.

print(dats["duration"].min())
print(dats["duration"].max())

1
1372

In [ ]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

ned = dats.query("duration <= 60")

In [ ]:
# Now show both the min and max values of the duration column for your new dataset.

print(ned["duration"].min())
print(ned["duration"].max())

1
60

In [ ]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

ned = ned.query("tire_size == 26")

In [ ]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

num = ned.query('user_gender == "Female"') #previously removed other sanctions
print(num.shape[0])

2962

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [ ]:
#upload more-messy-data.csv onto Colab
flow = pd.read_csv("/content/more-messy-data.csv")
flow

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1           3.5          2.9           1.4         0.5   virginica
1       2           3.6          3.2           3.0         0.5      setosa
2       3           3.8          NaN           2.2         1.5      setosa
3       4           5.8          2.7           2.6         1.2   virginica
4       5           4.9          3.6           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1311  412           NaN          3.6           2.9         0.5  Versicolor
1312  413           5.8          2.7           2.0         0.1  Versicolor
1313  414           3.3          3.7           1.3         2.8  Versicolor
1314  415           3.1          NaN           1.1         NaN  Versicolor
1315  416           4.3          2.5           1.3           1  Versicolor

[1316 rows x 6 columns]

In [ ]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
print(flow.duplicated().sum())

287

In [ ]:
# Next, remove all duplicate rows using Python.
flow = flow.drop_duplicates()

In [ ]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
flow = flow.fillna(flow.mean())

<ipython-input-114-dee36c7b285e>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  flow = flow.fillna(flow.mean())

In [ ]:
# Find any values in the dataframe that are still missing, and delete them.
flow = flow.dropna()
flow

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1      3.500000      2.90000           1.4         0.5   virginica
1       2      3.600000      3.20000           3.0         0.5      setosa
2       3      3.800000      2.98876           2.2         1.5      setosa
3       4      5.800000      2.70000           2.6         1.2   virginica
4       5      4.900000      3.60000           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1310  411      4.800000      2.60000           1.9         0.9  Versicolor
1311  412      4.522004      3.60000           2.9         0.5  Versicolor
1312  413      5.800000      2.70000           2.0         0.1  Versicolor
1313  414      3.300000      3.70000           1.3         2.8  Versicolor
1315  416      4.300000      2.50000           1.3           1  Versicolor

[887 rows x 6 columns]

In [ ]:
# How many different species are there?
# find each unique name in species column
specs = flow["species"].unique()
print(specs)
print(len(specs))

['virginica' 'setosa' 'Versicolor' 'setoso' 'Viginica' 'Virginia' 'Setosa'
 'Setosan' 'versicolor']
9

In [ ]:
# Clean up the 'species' variable so that there are exactly three different values.
flow["species"] = flow["species"].str.lower()

specs_correct = ("virginica", "setosa", "versicolor")
flow = flow[flow["species"].isin(specs_correct)]

In [ ]:
# check that above has removed erroneous names from flow
flower = flow.query('species == "setoso" and species == "Virginia" and species == "Setosan"')
flower

Empty DataFrame
Columns: [id, sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

3. Bonus:  Regular expressions

In [ ]:
#BONUS
import re #regular expressions package

In [ ]:
#get user input and test to see if vanity plate
plate = input("License place: ")
runPlate(plate)

License place: AWS8948
Valid Plate

In [ ]:
def runPlate(plate):
  if bool(re.match("^[a-zA-Z]{3}\d{4}$", plate)):
     print("Valid Plate")
  else:
     print("Vantity or invalid plate")

In [ ]:
#user input testing
plate_test = input("License place: ")
runPlate(plate_test)

License place: GpS1980
Valid Plate

In [ ]:
plate_test2 = input("License place: ")
runPlate(plate_test2)

License place: aLk1999
Valid Plate

In [ ]:
plate_test3 = input("License place: ")
runPlate(plate_test3)

License place: invalid
Vantity or invalid plate

In [ ]:
plate_test4 = input("License place: ")
runPlate(plate_test4)

License place: 1944
Vantity or invalid plate

In [ ]:
#more tests
runPlate("zky7372") #val
runPlate("aaa0000") #val
runPlate("zzz9999") #val
runPlate("r2d2") #inval
runPlate("C3PO") #inval
runPlate("RCO2230") #val

Valid Plate
Valid Plate
Valid Plate
Vantity or invalid plate
Vantity or invalid plate
Valid Plate