<a href="https://colab.research.google.com/github/uwn5qm/DS-1002/blob/main/Pandas/exercises_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Warm-up: pandas

1. Import dependencies

In [1]:
import pandas as pd

---

In [2]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

In [10]:
dat = pd.Series(list)
dat

0    98
1    24
2    46
3    87
4    33
dtype: int64

3. Take the above series and add an index that starts at 2 and steps by 3

In [13]:
dat.index = [2,5,8,11,14]
dat

2     98
5     24
8     46
11    87
14    33
dtype: int64

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

In [17]:

dict = {
    "names" : ("Steve", "Randy", "Cletus", "Dale"),
    "ages" : (45,22,33,76),
    "profession" : ("teacher", "mechanic", "banker", "driver")
}

{'names': ('Steve', 'Randy', 'Cletus', 'Dale'),
 'ages': (45, 22, 33, 76),
 'profession': ('teacher', 'mechanic', 'banker', 'driver')}

5. Name the index of `df` 'participant_id'.  
Print `df`.

6. Use a pandas function to determine the data types of the columns of `df`.

7. Using bracket notation, reference column `name`

8. Using dot notation, reference column `name`

8. Reference column `name` and have it returned in a dataframe.

9. Show the 3rd element in column `career`.